@super-protocol:registry=https://npm.pkg.github.com

# Common registry to load non @super-protocol packages
registry=https://registry.yarnpkg.com/
# Auth token from env to load other private @super-protocol packages
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}
